<template name="DefaultLayout">
  {{#ionBody}}
    {{> ionNavBar}}

    {{#ionNavView}}
      {{> yield}}
    {{/ionNavView}}


  {{/ionBody}}

  {{#ionTabs style="ios" class="tabs-dark tabs-icon-only"}}
  {{> ionTab path="home" iconOff="ios-home-outline" iconOn="ios-home"}}
  {{> ionTab path="discover" iconOff="ios-search" iconOn="ios-search-strong"}}
  {{> ionTab path="photo" iconOff="ios-camera-outline" iconOn="ios-camera"}}
  {{> ionTab path="activity" iconOff="ios-heart-outline" iconOn="ios-heart"}}
  {{> ionTab path="profile" iconOff="ios-person-outline" iconOn="ios-person"}}
  {{/ionTabs}}
</template>
